<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>competition</ion-title>
  </ion-toolbar>
</ion-header>
<!-- ajout competition -->
<ion-content *ngIf="for_update ==null || for_update ==undefined ">
  Ajout competition
  <form #form="ngForm" (ngSubmit)="Save_competition(form)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Enregistrer une competitoin</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="nomCompetition" type="text" placeholder="Nom competition" ngModel required></ion-input>
            </ion-item>
          <ion-item>              
               <ion-select *ngIf="listeNomSaison !== [] && listeNomSaison !== null && listeNomSaison !== undefined " name="nomSaison" placeholder="Choisir" ngModel required>
                  <ion-select-option *ngFor="let saison of listeNomSaison" value="{{saison.Nom}}">{{saison.Nom}}</ion-select-option>
              </ion-select>
          </ion-item> 
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid"  expand="block">Enregistrer</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<!-- modification competition -->
<ion-content *ngIf="for_update !=null && for_update !=undefined">
  Modification competition
    <form #form="ngForm" (ngSubmit)="Save_competition(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
            </div>
            <div padding>
              <ion-item>
                <!-- ici {{for_update.nomCompetition}} -->
                <ion-input name="nomCompetition" type="text" placeholder="Nom competition" value="{{for_update.nomCompetition}}" [(ngModel)]="for_update.nomCompetition" required></ion-input>
              </ion-item>
            <ion-item>              
                 <ion-select *ngIf="listeNomSaison !== [] && listeNomSaison !== null && listeNomSaison !== undefined " name="nomSaison" placeholder="Choisir" [(ngModel)]="for_update.nomSaison" required>
                    <ion-select-option *ngFor="let saison of listeNomSaison" value="{{saison.Nom}}">{{saison.Nom}}</ion-select-option>
                </ion-select>
            </ion-item> 
            </div>
            <div padding>
                <ion-button size="large" (click)="updade_competition_data(for_update)"  expand="block">Enregistrer</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
