<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/userhome/{{club}}"></ion-back-button>
      </ion-buttons>
    <ion-title>list-participant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      Filtrer par type :
      <ion-select (ionChange)="filter(IdTypeNatation)" *ngIf="listtypenatation !== [] && listtypenatation !== null && listtypenatation !== undefined " [(ngModel)]="IdTypeNatation" placeholder="Choisir" >
          <ion-select-option *ngFor="let types of listtypenatation" value="{{types.NomType}}">{{types.NomType}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
       Choisir competition :<ion-select *ngIf="listCompetition !== [] && listCompetition !== null && listCompetition !== undefined " [(ngModel)]="IdCompetition" placeholder="Choisir" >
        <ion-select-option *ngFor="let compet of listCompetition" value="{{compet.nomCompetition}}">{{compet.nomCompetition}}</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-item *ngFor="let item of resultat">
            <ion-checkbox (ionChange)="addCheckbox($event,item)" slot="end" color="dark"></ion-checkbox><ion-label>{{item.Nom}}</ion-label>
    </ion-item>
          <ion-button expand="full" (click)="Go_to_chronos(selectedArray,IdTypeNatation,IdCompetition)" color="primary">Valider</ion-button>
</ion-content>