<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>Gesiton utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="for_update ==null || for_update ==undefined ">
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="Votre Login" [(ngModel)]="users.login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="password" placeholder="Votre mot passe" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
    <ion-input required type="text" placeholder="Votre mail" [(ngModel)]="users.mail"></ion-input>
    </ion-item>
    <ion-item>
        <span *ngIf="listTypeUsers == [] || listTypeUsers == null || listTypeUsers == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
        <ion-select *ngIf="listTypeUsers !== [] && listTypeUsers !== null && listTypeUsers !== undefined " placeholder="Choisir" [(ngModel)]="users.typeUser" required>
            <ion-select-option *ngFor="let type of listTypeUsers" value="{{type.NomType}}">{{type.NomType}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="users.typeUser === 'User' ">
      <ion-select  *ngIf="listClub !== [] && listClub !== null && listClub !== undefined " placeholder="Choisir" [(ngModel)]="users.club" required>
        <ion-select-option *ngFor="let club of listClub" value="{{club.nom}}">{{club.nom}}</ion-select-option>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="createUser(password)">Cree un compte</ion-button>
</ion-content> 
    <!-- ================================== -->
<ion-content *ngIf="for_update !=null && for_update !=undefined ">
  Modification utilisateur ,
      <ion-item>
        <ion-input required type="text" placeholder="Votre Login" value="{{for_update.login}}" [(ngModel)]="for_update.login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required type="password" placeholder="Votre mot passe" value="{{for_update.password}}" [(ngModel)]="for_update.password"></ion-input>
      </ion-item>
      <ion-item>
      <ion-input required type="text" placeholder="Votre mail" value="{{for_update.mail}}" [(ngModel)]="for_update.mail"></ion-input>
      </ion-item>
      <!-- <ion-item>
          <span *ngIf="listTypeUsers == [] || listTypeUsers == null || listTypeUsers == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
          <ion-select  *ngIf="listTypeUsers !== [] && listTypeUsers !== null && listTypeUsers !== undefined " placeholder="Choisir" value="{{for_update.typeUser}}" [(ngModel)]="for_update.typeUser" required>
              <ion-select-option *ngFor="let type of listTypeUsers" value="{{type.NomType}}">{{type.NomType}}</ion-select-option>
          </ion-select>
      </ion-item> -->
      <ion-item>
          <span *ngIf="listTypeUsers == [] || listTypeUsers == null || listTypeUsers == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
          <ion-select *ngIf="listTypeUsers !== [] && listTypeUsers !== null && listTypeUsers !== undefined " placeholder="Choisir" [(ngModel)]="users.typeUser" required>
              <ion-select-option *ngFor="let type of listTypeUsers" value="{{for_update.NomType}}">{{type.NomType}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item *ngIf="users.typeUser === 'User' ">
        <ion-select  *ngIf="listClub !== [] && listClub !== null && listClub !== undefined " placeholder="Choisir" [(ngModel)]="users.club" required>
          <ion-select-option *ngFor="let club of listClub" value="{{club.nom}}">{{club.nom}}</ion-select-option>
      </ion-select>
      </ion-item>
    <ion-row>
        <ion-button expand="full" (click)="updade_user_data(for_update)">Enregistrer</ion-button>
    </ion-row>
</ion-content>
    <!-- ================================== -->



  

