<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addClub()">Ajouter club</ion-button>
  <ion-item  *ngFor="let item of club ">
  <ion-list>
    <ion-row >
      <ion-col size="12">
        {{ item.nom }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
          <ion-button (click)="update_club(item.id)">Modifier</ion-button>
      </ion-col>
      <ion-col size="6">
          <ion-button (click)="delete_club(item.id)" color="danger">Supprimer</ion-button>
      </ion-col>
    </ion-row>
    <ion-row >
      <!-- <ion-col col-6>
      <ion-button (click)="update_club(item.id)">Modifier</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button (click)="delete_club(item.id)" color="danger">Supprimer</ion-button>
      </ion-col> -->
    </ion-row>
    <!-- <ion-note slot="end" color="primary">{{ item.coach }}</ion-note> -->
  </ion-list>
</ion-item>
</ion-content>
