<ion-header>
  <ion-toolbar>
    <ion-title>userhome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-button expand="full" (click)="goChrono()">Chrono</ion-button>
          </ion-col>
          <ion-col col-12>
            <ion-button expand="full" (click)="listemembreclub()">Gestion membre club</ion-button>
          </ion-col>
          <ion-col col-12>
            <ion-button expand="full" (click)="listeperformance()">Performance des membres</ion-button>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col col-12>
            <ion-button (click)="gestlogin()" expand="full">Deconnexion</ion-button>
          </ion-col>
        </ion-row>        
    </ion-grid>
</ion-content>
