<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>List type natation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="goto_insert_type_natation()">Inserer une type</ion-button>
  <ion-item *ngFor="let items of typenatations">
    <ion-list>
        <ion-row>
            <ion-col size="12">{{items.NomType}}</ion-col>            
        </ion-row>
        <ion-row>
          <ion-col size="6"><ion-button color="success" (click) ='goto_modifie_type_natation(items.id)'>Modifier</ion-button></ion-col>
          <ion-col size="6"><ion-button color="danger" (click) ='delete(items.id)'>Supprimer</ion-button></ion-col>
        </ion-row>
    </ion-list>
</ion-item>
</ion-content>
