<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>gestion-competition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-button expand="full" (click)="addCompetition()">Ajout Competition</ion-button>
    </div>
    <ion-item>
    Liste competition
    </ion-item>
    <ion-item-sliding *ngFor="let resCompetition of competition">        
        <ion-list lines="inset">
            {{resCompetition.nomCompetition}}          
        </ion-list>
        <ion-label col-3>
          <ion-button (click)="update_competition(resCompetition.id)">Modifier</ion-button>
         </ion-label>
         <ion-label col-3>
           <ion-button (click)="delete_competition(resCompetition.id)" color="danger">Supprimer</ion-button>
         </ion-label>
    </ion-item-sliding>
</ion-content>
