<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/userhome/{{coachClub}}"></ion-back-button>
      </ion-buttons>
    <ion-title>listemembreclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
      Gestion Membre
  </ion-row>
  <ion-row>    
      <ion-col size="6"><ion-button (click) ='ajoutMembre(coachClub)'>Ajout membre</ion-button></ion-col>
  </ion-row>
  <ion-item  *ngFor="let membre of listeMembre ">
      <ion-list>
          <ion-row>
              <ion-col size="12">{{membre.Nom}}</ion-col>
          </ion-row>
          <ion-row>
                <ion-col size="6">
                    <ion-button color="success" (click) ='update_athlete(membre.id)'>Edit</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button color="danger" (click) ='delete_athlete(membre.id)'>Del</ion-button>
                </ion-col>
          </ion-row>
      </ion-list>
    </ion-item>
</ion-content>
