<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>list-athletes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="goto_insert_athletes()">Inserer Athletes</ion-button>
  <ion-item *ngFor="let itemes of athlete">
    <ion-list>
        <ion-row>
            <ion-col size="12"><ion-input color="primary" type="text" [(ngModel)]="itemes.Nom" value='{{itemes.Nom}}'></ion-input></ion-col>
        </ion-row>
        <ion-row>    
            <ion-col size="6"><ion-button color="success" (click) ='goto_modifie_athletes(itemes.id)'>Modifier</ion-button></ion-col>
            <ion-col size="6"><ion-button color="danger" (click) ='delete(itemes.id)'>Supprimer</ion-button></ion-col>
        </ion-row>
    </ion-list>
  </ion-item>
</ion-content>
