<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/listemembreclub/{{coachClub}}"></ion-back-button>
      </ion-buttons>
    <ion-title>addmembreclub</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="resultat === null || resultat ===[] || resultat === undefined && modifathlete === null">
  Ajout membre
  <form #form="ngForm" (ngSubmit)="Save_athlete(form)">
  <ion-item>
      <ion-input required type="text" placeholder="Nom" name="Nom" ngModel required></ion-input>
  </ion-item>
  <ion-item>
      <ion-input type="text" required  placeholder="Poids" name="Poids" ngModel></ion-input>
  </ion-item>
  <ion-item>
      <ion-input type="text" required  placeholder="Age" name="Age" ngModel></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="text" required  placeholder="Taille" name="Taille" ngModel></ion-input>
  </ion-item>
  <ion-item>
      <ion-input type="text" required  placeholder="Club" value="{{coachClub}}" ngModel disabled></ion-input>
  </ion-item>
  <ion-item>
      <!-- <span *ngIf="listtypenatation == [] || listtypenatation == null || listtypenatation == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span> -->
      
          <ion-select *ngIf="listtypenatation !== [] && listtypenatation !== null && listtypenatation !== undefined " placeholder="Choisir" name="IdTypeNatation" ngModel required>
              <ion-select-option *ngFor="let types of listtypenatation" value="{{types.NomType}}">{{types.NomType}}</ion-select-option>
          </ion-select>
  </ion-item>
  <div padding>
      <ion-button size="large" type="submit" [disabled]="form.invalid"  expand="block">Enregistrer</ion-button>
  </div>
</form>
  </ion-content>
  <!-- formulaire update membre par club -->
  <ion-content *ngIf="modifathlete == 'update_athlete'">
    Modification membre
    {{coachClub}}
    <ion-item>
      <ion-input required type="text" placeholder="Nom" [(ngModel)]="dataAthlete.Nom" value="{{dataAthlete.Nom}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" required  placeholder="Poids" [(ngModel)]="dataAthlete.Poids" value="{{dataAthlete.Poids}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="text" required  placeholder="Age" [(ngModel)]="dataAthlete.Age" value="{{dataAthlete.Age}}"></ion-input>
    </ion-item>
        <ion-item>
          <ion-input type="text" required  placeholder="Taille" [(ngModel)]="dataAthlete.Taille" value="{{dataAthlete.Taille}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" required  placeholder="Club" value="{{dataAthlete.IdClub}}" [(ngModel)]="dataAthlete.IdClub" ngModel required></ion-input>
        </ion-item>
        <ion-item>
            <!-- <ion-input type="text" required  [(ngModel)]="athletes.IdTypeNatation"></ion-input> -->
            <!-- <span *ngIf="listtypenatation == [] || listtypenatation == null || listtypenatation == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span> -->
                <ion-select *ngIf="listtypenatation !== [] && listtypenatation !== null && listtypenatation !== undefined " placeholder="Choisir" [(ngModel)]="dataAthlete.IdTypeNatation" required>
                    <ion-select-option *ngFor="let types of listtypenatation" value="{{types.NomType}}">{{types.NomType}}</ion-select-option>
                </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="updade_membre_club(dataAthlete)">Enregistrer</ion-button>
  </ion-content>