<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/userhome/id"></ion-back-button>
        </ion-buttons>
    <ion-title>performance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-toolbar>
            <ion-searchbar placeholder="Recherche par Nom" (ionChange)="filter_by_mot(IdTypeNatation)" [(ngModel)]="IdTypeNatation" animated></ion-searchbar>
        </ion-toolbar>
        filtrer par competition :
        <ion-select (ionChange)="filtrer(IdCompetition)" *ngIf="listeNomSaison !== [] && listeNomSaison !== null && listeNomSaison !== undefined " [(ngModel)]="IdCompetition" placeholder="Choisir" >
            <ion-select-option  *ngFor="let compet of listeNomSaison" value="{{compet.nomCompetition}}">{{compet.nomCompetition}}</ion-select-option>
        </ion-select>
    <ion-item *ngFor="let items of performance">
        <ion-list>
            <ion-row>
                    <ion-col size="12">{{ items.Date | date:'short' }}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">{{items.Chronos}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">{{items.IdAthletes}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">{{items.IdTypeNatation}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">{{items.typecompet}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-button expand="full" color="danger" (click)="deletefile(items.id)">Delete</ion-button>
            </ion-row>
        </ion-list>
    </ion-item>
</ion-content>
  
