<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
      </ion-buttons>
    <ion-title>list type user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="goto_insert_type_user()">Inserer une type</ion-button>
  <ion-item *ngFor="let item of type_users">
      <ion-list>
          <ion-row>
              <ion-col size="12"><ion-input color="primary" type="text" [(ngModel)]="item.NomType" value='{{item.NomType}}'></ion-input></ion-col>
          </ion-row> 
        <ion-row>   
              <ion-col size="6"><ion-button color="success" (click) ='goto_modifie_type_user(item.id)'>Modifier</ion-button></ion-col>
              <ion-col size="6"><ion-button color="danger" (click) ='delete(item.id)'>Supprimer</ion-button></ion-col>
          </ion-row>
      </ion-list>
  </ion-item>
</ion-content>
