<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>Type User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resultat === null || resultat === [] || resultat === undefined">
  <h1>Insertion type</h1>
  <ion-item>
    <ion-input required type="text" placeholder="Type" [(ngModel)]="type_user.NomType"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="saveType_User()">Enregistrer</ion-button>
</ion-content>

<ion-content *ngIf="resultat != null && resultat !=[] && resultat != undefined">
    <h1>Modification type</h1>
    <ion-item>
      <ion-input required type="text" placeholder="Type" [(ngModel)]="resultat.NomType" value="resultat.NomType"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="updatsType_User(resultat.id,resultat.NomType)">Enregistrer</ion-button>
  </ion-content>
