<ion-header>
  <ion-toolbar>
    <ion-title>listeclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Selection club
  <ion-item-sliding  *ngFor="let item of club ">
    <ion-item lines="inset">
      <ion-label col-6>
        <ion-button expand="full" (click)="goto_list(item.nom)" color="primary">{{item.nom}}</ion-button>
      </ion-label>      
    </ion-item>
  </ion-item-sliding>
</ion-content>
