<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/userhome/id"></ion-back-button>
        </ion-buttons>
    <ion-title>stopwatch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stopwatch pt-3">
    <h1 text-center class="font-lg">
      {{time}}
    </h1>
  <ion-grid>
    <ion-row text-center class="mt-5">
      <ion-col class="col-12" *ngIf="!running && time == blankTime">
        <button class="circle-button circle-button-bg font-md" ion-button (click)="start()">start</button>
      </ion-col>
      <ion-col class="col-12" *ngIf="running">
        <button class="circle-button circle-button-bg circle-button-yellow font-md" ion-button (click)="capture()">Capturer</button>
      </ion-col>
      <ion-col class="col-12" *ngIf="running">
        <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (click)="stop()">Stop</button>
      </ion-col>
    </ion-row>
    <ion-input type="hidden" value="typenatation"></ion-input>
    <ion-input type="hidden" value="typecompet"></ion-input>
    <ion-row *ngIf="max===1 || max===2 || max===3 || max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
      <ion-col col-12 *ngIf="max===1">
            1 : {{captured1}}
      </ion-col>
      <ion-col col-6 *ngIf="max===2 || max===3 || max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        1 : {{captured1}}
      </ion-col>
      <ion-col col-6 *ngIf="max===2 || max===3 || max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
          2 : {{captured2}}
      </ion-col>
    </ion-row>
    <ion-row>
          <ion-col col-6 *ngIf="captured1 !=0 && captured1 != null && captured1 != undefined">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent1" >
              <ion-select-option *ngFor="let oppenent of resultat" value="{{oppenent.Nom}}">{{oppenent.Nom}}</ion-select-option>
           </ion-select>
          </ion-col>
          <ion-col col-6 *ngIf="captured2 !=0 && captured2 != null && captured2 != undefined">
              <ion-select placeholder="Choisir" [(ngModel)]="oppenent2" >
                  <ion-select-option *ngFor="let oppenent2 of resultat" value="{{oppenent2.Nom}}">{{oppenent2.Nom}}</ion-select-option>
              </ion-select>
          </ion-col>
    </ion-row>
    <ion-row *ngIf="max===3 || max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
      <ion-col col-12 *ngIf="max===3">
            3 : {{captured3}}
      </ion-col>
      <ion-col col-6 *ngIf="max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        3 : {{captured3}}
      </ion-col>
      <ion-col col-6 *ngIf="max===4 || max === 5 || max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
          4 : {{captured4}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="captured3 !=0 && captured3 != null && captured3 != undefined && max===3">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent3" >
               <ion-select-option *ngFor="let oppenent3 of resultat" value="{{oppenent3.Nom}}">{{oppenent3.Nom}}</ion-select-option>
            </ion-select>
           </ion-col>
      <ion-col col-6 *ngIf="captured3 !=0 && captured3 != null && captured3 != undefined && max !=3 ">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent3">
           <ion-select-option *ngFor="let oppenent3 of resultat" value="{{oppenent3.Nom}}">{{oppenent3.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured4 !=0 && captured4 != null && captured4 != undefined && max !=3">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent4">
               <ion-select-option *ngFor="let oppenent4 of resultat" value="{{oppenent4.Nom}}">{{oppenent4.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max === 6 || max===5 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        <ion-col col-12 *ngIf="max===5">
            5 : {{captured5}}
          </ion-col>
      <ion-col col-6 *ngIf="max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        5 : {{captured5}}
      </ion-col>
      <ion-col col-6 *ngIf="max===6 || max===7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
          6 : {{captured6}}
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngIf="captured5 !=0 && captured5 != null && captured5 != undefined && max===5">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent5">
               <ion-select-option *ngFor="let oppenent5 of resultat" value="{{oppenent5.Nom}}">{{oppenent5.Nom}}</ion-select-option>
            </ion-select>
           </ion-col>
      <ion-col col-6 *ngIf="captured5 !=0 && captured5 != null && captured5 != undefined && max !=5">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent5">
           <ion-select-option *ngFor="let oppenent5 of resultat" value="{{oppenent5.Nom}}">{{oppenent5.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured6 !=0 && captured6 != null && captured6 != undefined && max !=5">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent6">
               <ion-select-option *ngFor="let oppenent6 of resultat" value="{{oppenent6.Nom}}">{{oppenent6.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max === 7 || max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        <ion-col col-12 *ngIf="max === 7">
            7 : {{captured7}}
          </ion-col>
      <ion-col col-6 *ngIf="max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        7 : {{captured7}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 8 || max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
          8 : {{captured8}}
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 *ngIf="captured7 !=0 && captured7 != null && captured7 != undefined && max===7">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent7">
               <ion-select-option *ngFor="let oppenent7 of resultat" value="{{oppenent7.Nom}}">{{oppenent7.Nom}}</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col col-6 *ngIf="captured7 !=0 && captured7 != null && captured7 != undefined && max !=7">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent7">
           <ion-select-option *ngFor="let oppenent7 of resultat" value="{{oppenent7.Nom}}">{{oppenent7.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured8 !=0 && captured8 != null && captured8 != undefined && max !=7">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent8">
               <ion-select-option *ngFor="let oppenent8 of resultat" value="{{oppenent8.Nom}}">{{oppenent8.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max===9 || max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
      <ion-col col-12 *ngIf="max===9">
          9 : {{captured9}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
        9 : {{captured9}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 10 || max===11 || max === 12 || max===13 || max === 14 || max===15 || max === 16">
          10 : {{captured10}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="captured9 !=0 && captured9 != null && captured9 != undefined && max===9">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent9">
               <ion-select-option *ngFor="let oppenent9 of resultat" value="{{oppenent9.Nom}}">{{oppenent9.Nom}}</ion-select-option>
            </ion-select>
           </ion-col>
      <ion-col col-6 *ngIf="captured9 !=0 && captured9 != null && captured9 != undefined && max !=9">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent9">
           <ion-select-option *ngFor="let oppenent9 of resultat" value="{{oppenent9.Nom}}">{{oppenent9.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured10 !=0 && captured10 != null && captured10 != undefined && max !=9">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent10">
               <ion-select-option *ngFor="let oppenent10 of resultat" value="{{oppenent10.Nom}}">{{oppenent10.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max===11 || max === 12 || max===13 || max===14 || max===15 || max===16">
        <ion-col col-12 *ngIf="max===11">
            11 : {{captured11}}
          </ion-col>
      <ion-col col-6 *ngIf="max === 12 || max===13 || max===14  || max===15 || max===16">
        11 : {{captured11}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 12 || max===13 || max===14  || max===15 || max===16">
          12 : {{captured12}}
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 *ngIf="captured11 !=0 && captured11 != null && captured11 != undefined && max===11">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent11">
               <ion-select-option *ngFor="let oppenent11 of resultat" value="{{oppenent11.Nom}}">{{oppenent11.Nom}}</ion-select-option>
            </ion-select>
      </ion-col>
      <ion-col col-6 *ngIf="captured11 !=0 && captured11 != null && captured11 != undefined && max !=11">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent11">
           <ion-select-option *ngFor="let oppenent11 of resultat" value="{{oppenent11.Nom}}">{{oppenent11.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured12 !=0 && captured12 != null && captured12 != undefined && max !=11">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent12">
               <ion-select-option *ngFor="let oppenent12 of resultat" value="{{oppenent12.Nom}}">{{oppenent12.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max===13 || max===14 || max===15 || max===16">
        <ion-col col-12 *ngIf="max===13">
            13 : {{captured13}}
          </ion-col>
      <ion-col col-6 *ngIf="max===14 || max===15 || max===16">
        13 : {{captured13}}
      </ion-col>
      <ion-col col-6 *ngIf="max===14 || max===15 || max===16">
          14 : {{captured14}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="captured13 !=0 && captured13 != null && captured13 != undefined && max===13">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent13">
               <ion-select-option *ngFor="let oppenent13 of resultat" value="{{oppenent13.Nom}}">{{oppenent13.Nom}}</ion-select-option>
            </ion-select>
           </ion-col>
      <ion-col col-6 *ngIf="captured13 !=0 && captured13 != null && captured13 != undefined && max !=13">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent13">
           <ion-select-option *ngFor="let oppenent13 of resultat" value="{{oppenent13.Nom}}">{{oppenent13.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured14 !=0 && captured14 != null && captured14 != undefined && max !=13">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent14">
               <ion-select-option *ngFor="let oppenent14 of resultat" value="{{oppenent14.Nom}}">{{oppenent14.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-row *ngIf="max===15 || max === 16">
      <ion-col col-12 *ngIf="max===15">
            15 : {{captured15}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 16">
        15 : {{captured15}}
      </ion-col>
      <ion-col col-6 *ngIf="max === 16">
          16 : {{captured16}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 *ngIf="captured15 !=0 && captured15 != null && captured15 != undefined && max===15">
            <ion-select placeholder="Choisir" [(ngModel)]="oppenent15">
               <ion-select-option *ngFor="let oppenent15 of resultat" value="{{oppenent15.Nom}}">{{oppenent15.Nom}}</ion-select-option>
            </ion-select>
           </ion-col>
      <ion-col col-6 *ngIf="captured15 !=0 && captured15 != null && captured15 != undefined && max !=15">
        <ion-select placeholder="Choisir" [(ngModel)]="oppenent15">
           <ion-select-option *ngFor="let oppenent15 of resultat" value="{{oppenent15.Nom}}">{{oppenent15.Nom}}</ion-select-option>
        </ion-select>
       </ion-col>
       <ion-col col-6 *ngIf="captured16 !=0 && captured16 != null && captured16 != undefined && max !=15">
           <ion-select placeholder="Choisir" [(ngModel)]="oppenent16">
               <ion-select-option *ngFor="let oppenent16 of resultat" value="{{oppenent16.Nom}}">{{oppenent16.Nom}}</ion-select-option>
           </ion-select>
       </ion-col>
    </ion-row>
    <ion-button expand="full" (click)="valider_chronos(typenatation,typecompet,captured1,oppenent1,captured2,oppenent2,captured3,oppenent3,captured4,oppenent4,captured5,oppenent5,captured6,oppenent6,captured7,oppenent7,captured8,oppenent8,captured9,oppenent9,captured10,oppenent10,captured11,oppenent11,captured12,oppenent12,captured13,oppenent13,captured14,oppenent14,captured15,oppenent15,captured16,oppenent16)">Valider</ion-button>
  </ion-grid>
</div>
</ion-content>