<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>Saison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resultat === null || resultat ===[] || resultat === undefined">
    <ion-item>
        <ion-input required type="text" placeholder="Nom" [(ngModel)]="saison.Nom"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="date" required displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="saison.Date_Debut"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input type="date" required displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="saison.Date_Fin"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="savesaison()">Enregistrer</ion-button>
</ion-content>

<ion-content *ngIf="resultat != null && resultat !=[] && resultat != undefined">
        <ion-item>
            <ion-input required type="text" placeholder="Nom" [(ngModel)]="resultat.Nom" value="resultat.Nom"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="date" required displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="resultat.Date_Debut" value="resultat.Date_Debut"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="date" required displayFormat="MM/DD/YYYY" placeholder="Select Date" [(ngModel)]="resultat.Date_Fin" value="resultat.Date_Fin"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="updatssaison(resultat.id,resultat.Nom,resultat.Date_Debut,resultat.Date_Fin)">Enregistrer</ion-button>
</ion-content>
