<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
      </ion-buttons>
    <ion-title>list_saison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="goto_insert_saison()">Inserer saison</ion-button>
    <ion-item *ngFor="let iteme of saisons">
      <ion-list>
          <ion-row>
              <ion-col size="6"><ion-input color="primary" type="text" [(ngModel)]="iteme.Nom" value='{{iteme.Nom}}'></ion-input></ion-col>
              <ion-col size="3"><ion-button color="success" (click) ='goto_modifie_saison(iteme.id)'>Edit</ion-button></ion-col>
              <ion-col size="3"><ion-button color="danger" (click) ='delete(iteme.id)'>Del</ion-button></ion-col>
          </ion-row>
      </ion-list>
    </ion-item>
</ion-content>
