<ion-header>
  <ion-toolbar>
    <ion-title>modificationUsers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-item-sliding *ngFor="let item of infoUser">
        <ion-list>
            <ion-note>
            {{item.login}}           
            </ion-note>
        </ion-list>
    </ion-item-sliding> -->
</ion-content>
