<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/adminhome"></ion-back-button>
        </ion-buttons>
    <ion-title>Ajouter Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="for_update ==null || for_update ==undefined " color="primary" padding>
    <form #form="ngForm" (ngSubmit)="Save_club(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Ajout Club</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input name="nom" type="text" placeholder="nom" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="region" type="text" placeholder="region" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-input name="coach" type="text" placeholder="coach" ngModel required></ion-input>
                  <ion-input name="date_creation" type="hidden" value="0" placeholder="date_creation" ngModel></ion-input>
                </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" [disabled]="form.invalid"  expand="block">Enregistrer</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>

  <ion-content *ngIf="for_update !=null && for_update !=undefined " color="primary" padding>
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div text-center>
                <h3>Club</h3>
              </div>
              <div padding>
                <ion-item>
                    <ion-label>nom:</ion-label>
                  <ion-input name="nom" value="{{for_update.nom}}" type="text" placeholder="" [(ngModel)]="for_update.nom"  required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>region:</ion-label>
                  <ion-input name="region" value="{{for_update.region}}" type="text" placeholder="" [(ngModel)]="for_update.region"  required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>coach:</ion-label>
                    <ion-input name="coach" value="{{for_update.coach}}" type="text" placeholder="" [(ngModel)]="for_update.coach"  required></ion-input>
                    <ion-input name="date_creation" value="{{for_update.date_creation}}" type="hidden" [(ngModel)]="for_update.date_creation" placeholder="date_creation"></ion-input>
                    <ion-input name="id" value="{{for_update.id}}" type="hidden" [(ngModel)]="for_update.id" placeholder="id"></ion-input>
                  </ion-item>
              </div>
              <!-- <div padding>
                  <ion-button  (click)="addMember()"  expand="block">Ajouter des membres</ion-button>
              </div>
              <ion-list padding *ngIf= "checked === 1" >
                <ion-item *ngFor= "let ath of listAthlete ">
                      <ion-label>{{ath.Nom}}</ion-label>
                      <ion-checkbox (ionChange)="addCheckbox($event,ath)" slot="end"></ion-checkbox>
                </ion-item>
                <ion-button (click)="insertathfromclub(for_update)">Valider</ion-button>
              </ion-list> -->
              <div padding>
                <ion-button  (click)="updade_club_data(for_update)"  expand="block">Enregistrer</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-content>
