<ion-header>
  <ion-toolbar>
    <ion-title>gestion utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
      <ion-col size="12">
          <ion-button (click)="add_user()">Ajouter utilisateur</ion-button>
      </ion-col>
  </ion-row>
  Liste utilisateurs<br>
  <ion-item-sliding *ngFor="let item of users">
      <!-- <ion-list lines="inset" button [routerLink]="['/modification-users', item.id]"> -->
        <ion-list lines="inset">
          <ion-note slot="end" color="primary">
          Login : {{item.login}}          
          </ion-note>
      </ion-list>
      <ion-label col-3>
        <ion-button (click)="update_user(item.id)">Modifier</ion-button>
       </ion-label>
       <ion-label col-3>
         <ion-button (click)="delete_user(item.id)" color="danger">Supprimer</ion-button>
       </ion-label>
  </ion-item-sliding>
</ion-content>
