<ion-header>
  <ion-toolbar>
    <ion-title>gestionmembreclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resultat === null || resultat ===[] || resultat === undefined">
  <ion-item>
    <ion-input required type="text" placeholder="Nom" [(ngModel)]="athletes.Nom"></ion-input>
</ion-item>
<ion-item>
    <ion-input type="text" required  placeholder="Poids" [(ngModel)]="athletes.Poids"></ion-input>
</ion-item>
<ion-item>
    <ion-input type="text" required  placeholder="Age" [(ngModel)]="athletes.Age"></ion-input>
</ion-item>
<ion-item>
  <ion-input type="text" required  placeholder="Taille" [(ngModel)]="athletes.Taille"></ion-input>
</ion-item>
<ion-item>
    <!-- <ion-input type="text" required  placeholder="Club" [(ngModel)]="athletes.IdClub"></ion-input> -->
    <span *ngIf="listclub == [] || listclub == null || listclub == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
        <ion-select *ngIf="listclub !== [] && listclub !== null && listclub !== undefined " placeholder="Choisir" [(ngModel)]="athletes.IdClub" required>
            <ion-select-option *ngFor="let type of listclub" value="{{type.nom}}">{{type.nom}}</ion-select-option>
        </ion-select>
</ion-item>
<ion-item>
    <!-- <ion-input type="text" required  placeholder="Type Natation" [(ngModel)]="athletes.IdTypeNatation"></ion-input> -->
    <span *ngIf="listtypenatation == [] || listtypenatation == null || listtypenatation == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
        <ion-select *ngIf="listtypenatation !== [] && listtypenatation !== null && listtypenatation !== undefined " placeholder="Choisir" [(ngModel)]="athletes.IdTypeNatation" required>
            <ion-select-option *ngFor="let types of listtypenatation" value="{{types.NomType}}">{{types.NomType}}</ion-select-option>
        </ion-select>
</ion-item>
<ion-button expand="full" (click)="saveathletes()">Enregistrer</ion-button>
</ion-content>

<ion-content *ngIf="resultat != null && resultat !=[] && resultat != undefined">
        <ion-item>
          <ion-input required type="text" placeholder="Nom" [(ngModel)]="resultat.Nom" value="resultat.Nom"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" required  placeholder="Poids" [(ngModel)]="resultat.Poids" value="resultat.Poids"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="text" required  placeholder="Age" [(ngModel)]="resultat.Age" value="resultat.Age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" required  placeholder="Taille" [(ngModel)]="resultat.Taille" value="resultat.Taille"></ion-input>
      </ion-item>
      <ion-item>
          <!-- <ion-input type="text" required  placeholder="Club" [(ngModel)]="athletes.IdClub"></ion-input> -->
          <span *ngIf="listclub == [] || listclub == null || listclub == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
              <ion-select *ngIf="listclub !== [] && listclub !== null && listclub !== undefined " placeholder="Choisir" [(ngModel)]="resultat.IdClub" required>
                  <ion-select-option *ngFor="let type of listclub" value="{{type.nom}}">{{type.nom}}</ion-select-option>
              </ion-select>
      </ion-item>
      <ion-item>
          <!-- <ion-input type="text" required  placeholder="Type Natation" [(ngModel)]="athletes.IdTypeNatation"></ion-input> -->
          <span *ngIf="listtypenatation == [] || listtypenatation == null || listtypenatation == undefined "><ion-progress-bar type="indeterminate"></ion-progress-bar></span>
              <ion-select *ngIf="listtypenatation !== [] && listtypenatation !== null && listtypenatation !== undefined " placeholder="Choisir" [(ngModel)]="resultat.IdTypeNatation" required>
                  <ion-select-option *ngFor="let types of listtypenatation" value="{{types.NomType}}">{{types.NomType}}</ion-select-option>
              </ion-select>
      </ion-item>
      <ion-button expand="full" (click)="updatssaison(resultat.id,resultat.Nom,resultat.Poids,resultat.Age,resultat.Taille,resultat.IdClub,resultat.IdTypeNatation)">Enregistrer</ion-button>
    </ion-content>
