<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-button (click)="gestclub()" expand="full" >Gestion des Clubs</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-button  (click)="gestuser()" expand="full">Gestion des Utilisateurs</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-button (click)="gesttypeuser()" expand="full">Gestion type Utilisateur</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-button (click)="gestsaison()" expand="full">Gestion des Saisons</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <ion-button (click)="gesttypenatation()" expand="full">Gestion type Natation</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-12>
    <ion-button (click)="gestathletes()" expand="full">Gestion des Athletes</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-12>
    <ion-button (click)="gestcompetition()" expand="full">Gestion des Competitions</ion-button>
  </ion-col>
</ion-row>
<ion-row>
    <ion-col col-12>
      <ion-button (click)="gestlogin()" expand="full">Deconnexion</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
