<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/list-type-natation"></ion-back-button>
        </ion-buttons>
    <ion-title>Type Natation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resultat === null || resultat ===[] || resultat === undefined">
  <ion-item>
    <ion-input required type="text" placeholder="Type" [(ngModel)]="typenatation.NomType"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="saveTypeNatation()">Enregistrer</ion-button>
</ion-content>

<ion-content *ngIf="resultat != null && resultat !=[] && resultat != undefined">
    <ion-item>
      <ion-input required type="text" placeholder="Type" [(ngModel)]="resultat.NomType"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="updatsTypeNatation(resultat.id,resultat.NomType)">Enregistrer</ion-button>
</ion-content>
